'.platform-linux atom-text-editor.ide-haskell-repl':
  'shift-enter': 'ide-haskell-repl:exec-command'
  'shift-up': 'ide-haskell-repl:history-back'
  'shift-down': 'ide-haskell-repl:history-forward'
  'ctrl-shift-r': 'ide-haskell-repl:ghci-reload'
  'ctrl-shift-c': 'ide-haskell-repl:ghci-interrupt'

'.platform-win32 atom-text-editor.ide-haskell-repl':
  'shift-enter': 'ide-haskell-repl:exec-command'
  'shift-up': 'ide-haskell-repl:history-back'
  'shift-down': 'ide-haskell-repl:history-forward'
  'ctrl-shift-r': 'ide-haskell-repl:ghci-reload'
  'ctrl-shift-c': 'ide-haskell-repl:ghci-interrupt'

'.platform-darwin atom-text-editor.ide-haskell-repl':
  'cmd-enter': 'ide-haskell-repl:exec-command'
  'shift-up': 'ide-haskell-repl:history-back'
  'shift-down': 'ide-haskell-repl:history-forward'
  'ctrl-shift-r': 'ide-haskell-repl:ghci-reload'
  'ctrl-shift-c': 'ide-haskell-repl:ghci-interrupt'
