// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

div.ide-haskell-repl {
  display: flex;
  flex-direction: column;
  atom-text-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .ide-haskell-repl-output {
    flex-grow: 1;
    position: relative;
  }
  .ide-haskell-repl-editor {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
  }
}
