// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes";

.output-icon(@name) {
  position: relative;
  padding-left: 1.2em;
  white-space: pre-wrap;
  &:before {
    font-family: 'Octicons Regular';
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    display: block;
    content: @@name;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 1em;
    width: 1em;
    padding-top: 0.5em;
    background: @overlay-background-color;
    border-right: 0.3em solid @overlay-border-color;
  }
}

div.ide-haskell-repl {
  display: flex;
  flex-direction: column;
  .ide-haskell-repl-output {
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    pre {
      font-size: inherit;
      font-family: inherit;
      margin-bottom: 0.2em;
    }
    .ide-haskell-repl-output-text {
      .output-icon(chevron-left);
      background: @input-background-color;
    }
    .ide-haskell-repl-input-text {
      .output-icon(chevron-right);
      background: @overlay-background-color;
    }
    .ide-haskell-repl-message-text {
      .output-icon(chevron-left);
      background: @overlay-background-color;
    }
  }
  .ide-haskell-repl-editor {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    .editor-container {
      flex-grow: 1;
      flex-shrink: 1;
      position: relative;
    }
  }
  .ide-haskell-repl-error {
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 50%;
    white-space: pre;
    overflow: auto;
    background-color: @pane-item-background-color;
    border-top: double 3px @pane-item-border-color;
  }
  button.interrupt {
    width: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: @component-border-radius;
    display: inline-block;
    line-height: 1.8em;
    color: @text-color-subtle;
    border: 1px solid @button-border-color;
    background: fade(@button-background-color,33%);
    cursor: pointer;
    vertical-align: middle;
    &:active {
      background: transparent;
    }
    &:before {
      font-family: 'Octicons Regular';
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 1.7em;
      content: @x;
    }
  }
}
